
<div class="content-main-header">
    <app-header (onSearch)="onSearchTrigger($event)" (onSort)="onSortTrigger($event)" [backRoute]="'playlist/'+playlist._id"></app-header>
</div>


<div class="content-main ">
    <div class="content-main-left ">

        <div class="content-main-line-top">
        </div>

        <div class="content-main-line-navigation">
            <app-category [currentCategory]="currentCategory" [categories]="categories"
                (onMove)="onMoveCategoryTrigger($event)"></app-category>
        </div>

        <div *ngFor="let streamItem of streams" class="content-main-line">
            <button type="button" class="movable content-folder" (click)="selectStream(streamItem)">
                <div class="content-folder-left">
                    <img class="content-icon content-icon-vod" alt="icon" [src]="streamItem.stream_icon" onerror="this.className='content-icon';this.src='images/movie.png';" loading=lazy />
                    {{streamItem.name}}
                </div>
            </button>
        </div>

 
        <div class="content-main-line-navigation content-main-line-navigation-bottom">
            <app-page [maxPage]="maxPage" [currentPage]="currentPage" 
            (onMove)="onMovePageTrigger($event)"></app-page>
        </div>

    </div>

    <div class="content-main-right ">
        <div class="content-main-line-top">
        </div>

        <div class="content-line-vod-mame">
            Name: {{stream?.name}}
        </div>

        <div class="content-line-vod-info">
            <div class="content-line-vod-info-poster">
                <img *ngIf="stream != null" class="content-line-vod-info-poster-image" alt="icon" alt="icon" [src]="stream.stream_icon" onerror="this.className='';this.src='images/movie.png';" loading=lazy /> 
                <img *ngIf="stream == null" alt="icon" src="images/movie.png" loading=lazy /> 
            </div>

            <div class="content-line-vod-info-details">
                <div class="content-line-vod-info-details-item">
                    Release
                </div>
                <div>
                    {{streamDetail == null ? '...' : streamDetail.info.releasedate}}
                </div>
                <div class="content-main-line-top">
                </div>
                <div class="content-main-line-top">
                </div>
                <div class="content-main-line-top">
                </div>
                <div class="content-line-vod-info-details-item">
                    Duration
                </div>
                <div>
                    {{streamDetail == null ? '...' : streamDetail.info.duration}}
                </div>
                <div class="content-main-line-top">
                </div>
                <div class="content-main-line-top">
                </div>
                <div class="content-main-line-top">
                </div>


                <div class="content-line-vod-info-details-item">
                    Cast
                </div>
                <div>
                    {{streamDetail == null ? '...' :streamDetail.info.cast}}
                </div>
                <div class="content-main-line-top">
                </div>
                <div class="content-main-line-top">
                </div>
                <div class="content-main-line-top">
                </div>

                <div class="content-line-vod-info-details-item">
                    Description
                </div>
                <div>
                    {{streamDetail == null ? '...' : 
                        streamDetail.info.description.length > streamDetail.info.plot.length 
                        ? streamDetail.info.description 
                        : streamDetail.info.plot}}
                </div>
            </div>

        </div>
        

        <div class="content-main-line-top">
        </div>
        <div class="content-main-line-top">
        </div>
        

        <div class="content-main-line">
            <div class="content-main-line-left">
                <button type="button" class="movable content-button" (click)="onFullscreenTrigger(true)">
                    <div class="content-button-center">
                        <img class="content-icon" alt="icon" src="images/eye.png" loading=lazy />
                        Watch
                    </div>
                </button>
            </div>

            <div class="content-main-line-right">
                <button type="button" class="movable content-button" (click)="manageFavorites()">
                    <div class="content-button-center">
                        <img class="content-icon" alt="icon" src="images/star.png" loading=lazy />
                        {{ getFavoriteDescription() }}
                    </div>
                </button>
            </div>
        </div>

    </div>

    <div *ngIf="isFullscreen">
        <app-player [source]="source" [isLiveStream]="false" [isFullscreen]="true"
        (onExitFullscreen)="onFullscreenTrigger(false)"></app-player>
    </div>

   
</div>