<div class="content-header">

    <div class="content-header-left">
        <div class="content-header-item">
            <input type="image" [src]="getImage('home.png')" alt="home" class="movable button content-header-image" (click)="home()" />
        </div>
    </div>

    <div class="content-header-right">
        <div class="content-header-item">
            <div class="movable movable-txt content-header-txt" (keyup)="executeWrapperTextKeyUp($event)">
                <input type="text" placeholder="Search..." (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" />
            </div>
        </div>
        <div class="content-header-item">
            <input type="image" [src]="getImage('search.png')" alt="search" class="movable button content-header-image" (click)="search()" />
        </div>
        <div class="content-header-item">
            <input type="image" [src]="getImage('sort.png')" alt="search" class="movable button content-header-image" (click)="sort()" />
        </div>
        <div class="content-header-item">
            <input type="image" [src]="getImage('back.png')" alt="search" class="movable button content-header-image" (click)="back()" />
        </div>
    </div>
</div>

<div class="content-header-path">
    <p>{{path}}</p>
</div>