
<div class="content-main-header">
    <app-header (onSearch)="onSearchTrigger($event)" (onSort)="onSortTrigger($event)" [backRoute]="'playlist/'+playlist._id"></app-header>
</div>


<div class="content-main ">
    
    
    <div class="content-main-left ">
        <div class="content-main-wrapper">

            <div class="content-main-line content-main-line-navigation">
                <app-category [currentCategory]="currentCategory" [categories]="categories"
                    (onMove)="onMoveCategoryTrigger($event)"></app-category>
            </div>
            
            <div *ngFor="let streamItem of streams" class="content-main-line">
                <button type="button" class="movable content-folder" (click)="selectStream(streamItem)">
                    <div class="content-folder-left">
                        <div class="content-folder-icon ">
                            <img class="content-icon content-icon-serie" alt="icon" [src]="streamItem.stream_image"
                            onerror="this.className='content-icon';this.src='images/serie.png';" loading=lazy />
                        </div>
                        <div class="content-folder-text">
                            {{streamItem.name.trim()}}
                        </div>
                    </div>
                </button>
            </div>
    
            <div class="content-main-line content-main-line-navigation content-main-line-bottom-left">
                <app-page [maxPage]="maxPage" [currentPage]="currentPage" (onMove)="onMovePageTrigger($event)"></app-page>
            </div>

        </div>
    </div>



    <div class="content-main-right ">

        <div class="content-main-wrapper">
    
            <div class="content-line-serie-mame">
                {{stream == null ? '...' : stream.name}}
            </div>
    
    
            <div class="content-main-line-spacer">
            </div>
            <div class="content-main-line-spacer">
            </div>
    
            <app-streamInfo [streamInfo]="streamInfo" [stream]="stream" [isImageError]="isImageError" [streamTypeImage]="'images/serie.png'" ></app-streamInfo>
            
    
            <div class="content-main-line content-main-line-bottom-right">
                   
                <div class="content-main-line-left">
                    <button type="button" class="movable content-button" (click)="moveToSerieInfo()">
                        <div class="content-button-center">
                            <div class="content-button-icon">
                                <img alt="icon" src="images/folder.png" loading=lazy class="content-icon" />
                            </div>
                            <div class="content-button-text">
                                Open
                            </div> 
                        </div>
                    </button>
                </div>
    
                <div class="content-main-line-right">
                    <button type="button" class="movable content-button" (click)="manageFavorites()">
                        <div class="content-button-center">
                            <div class="content-button-icon">
                                <img alt="icon" src="images/star.png" loading=lazy class="content-icon" />
                            </div>
                            <div class="content-button-text">
                                {{ getFavoriteDescription() }}
                            </div>  
                        </div>
                    </button>
                </div>
    
        </div>

        </div>

    </div>


</div>