.content-manageplaylist {
    background-color: #262626;
    padding: 10px;
    border: 3px solid #686868;
    height: 40vh;
}

.content-manageplaylist-title{
    height: 10%; border-bottom: solid 3px #efefef;
    vertical-align: middle;
    display: flex;
    justify-content: left;
    align-items: center;
}

.content-manageplaylist-text {
    float: left; overflow: hidden; width: 20%; display: flex; align-items:center; align-content: center; text-align: left; height: 7vh;
}

.content-manageplaylist-value {
    float: right; overflow: hidden; width: 80%; display: flex; align-items:center; align-content: center; text-align: left; height: 7vh;
}

.content-manageplaylist-input {
    width: 100%;
}
