<div class="content-manageplaylist">

    <div class="content-manageplaylist-title">
        <label>Add playlist</label>
    </div>

    <table class="content-manageplaylist-form">
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td class="content-manageplaylist-input">
                <div [className]="'movable movable-txt ' +managePlaylistMovableClass" (keyup)="executeWrapperTextKeyUp($event)">
                    <input type="text" placeholder="Name" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.name" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>User</label>
            </td>
            <td class="content-manageplaylist-input">
                <div [className]="'movable movable-txt ' +managePlaylistMovableClass" (keyup)="executeWrapperTextKeyUp($event)">
                    <input type="text" placeholder="User" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.user" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Pasword</label>
            </td>
            <td class="content-manageplaylist-input">
                <div [className]="'movable movable-txt ' +managePlaylistMovableClass" (keyup)="executeWrapperTextKeyUp($event)">
                    <input type="Password" placeholder="Password" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.password" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Url</label>
            </td>
            <td class="content-manageplaylist-input">
                <div [className]="'movable movable-txt ' +managePlaylistMovableClass" (keyup)="executeWrapperTextKeyUp($event)" >
                    <input type="text" placeholder="http://srv.com:80" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.url" [disabled]="playlist._id != null" />
                </div>
            </td>
        </tr>
    </table>


   
    <div class="content-manageplaylist-controls">
        <div class="content-main-line-left">
            <button type="button" [className]="'movable content-button ' + managePlaylistMovableClass" (click)="save()">
                <div class="content-button-center">
                    <img alt="icon" [src]="getImage('save.png')" class="content-icon" />
                    Save
                </div>
            </button>
        </div>

        <div class="content-main-line-right">
            <button type="button" [className]="'movable content-button ' + managePlaylistMovableClass" (click)="onCancel.emit()">
                <div class="content-button-center">
                    <img alt="icon" [src]="getImage('back.png')" class="content-icon" />
                    Cancel
                </div>
            </button>
        </div>
    </div>

               
      
               







</div>