
<div class="container-videoplayer" [style.position]="isFullscreen ? 'fixed' : 'relative'" [style.zIndex]="isFullscreen ? 2 : 1">
    <div class='container-videoplayer' (click)="onVideoClick()">
        <img src="images/video_loading.gif" alt="loading" class="content-videoplayer-image" *ngIf="!canPlay">
        <video #videoPlayerElement class='content-videoplayer-video' (canplay)="onCanPlay()" (timeupdate)="onCurretTimeUpdate()" (ended)="onEnded()" >
            <source [src]="source">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <div class="content-videoplayer-footer" *ngIf="isFullscreen" [style.zIndex]="isDisplayFooter ? 1 : -99">

        <div style="margin-bottom: 20px; margin-top: 20px;">
            <button #buttonHideFooterElement class='movable content-button content-videoplayer-footer-controls' (click)="displayOrHideFooter()" [custom-focus]="true" >
                <div class="content-button-center">
                    <img alt="icon" src="images/minimize.png" loading=lazy class="content-videoplayer-footer-controls-icon" />
                </div>
            </button>
            &nbsp;&nbsp;
            <button class='movable content-button content-videoplayer-footer-controls' (click)="playOrPause()" [disabled]="!isDisplayFooter">
                <div class="content-button-center">
                    <img alt="icon" src="{{getImagePlayOrPause()}}" loading=lazy class="content-videoplayer-footer-controls-icon" />
                </div>
            </button>
            &nbsp;&nbsp;
            <button class='movable content-button content-videoplayer-footer-controls' (click)="onExitFullscreen.emit()" [disabled]="!isDisplayFooter">
                <div class="content-button-center">
                    <img alt="icon" src="images/back.png" loading=lazy class="content-videoplayer-footer-controls-icon" />
                </div>
            </button>
        </div>
       

        <div *ngIf="!isLiveStream && isDisplayFooter" class="content-videoplayer-footer-timer">

            <table style="width: 100%;">
                <tr>
                    <td>
                        <button class='movable content-button content-videoplayer-footer-controls' (click)="setTime(-10)" >
                            <div class="content-button-center">
                                <strong>&lt;&lt;</strong>
                            </div>
                        </button>
                    </td>
                    <td class="content-videoplayer-controls-timer-space">  <button class='movable content-button content-videoplayer-footer-controls' (click)="setTime(-2)" >
                        <div class="content-button-center">
                            <strong>&lt;</strong>
                        </div>
                    </button></td>
                    <td class="content-videoplayer-controls-timer-space">{{canPlay ? currentTimeText : '00:00:00'}}</td>

                    <td class="content-videoplayer-controls-timer-space" style="width: 100%;"> <progress style="width: 100%;" value="{{getCurrentTimePercent()}}" max="100"></progress></td>

                    <td class="content-videoplayer-controls-timer-space">{{canPlay ? durationText : '00:00:00'}}</td>
                    <td class="content-videoplayer-controls-timer-space"> <button class='movable content-button content-videoplayer-footer-controls' (click)="setTime(2)" >
                        <div class="content-button-center">
                            <strong>></strong>
                        </div>
                    </button></td>
                    <td><button class='movable content-button content-videoplayer-footer-controls' (click)="setTime(10)" >
                        <div class="content-button-center">
                            <strong>>></strong>
                        </div>
                    </button></td>
                </tr>
            </table>
           
        </div>

        <div style="margin-bottom: 20px; margin-top: 20px; overflow: hidden;">
           {{name ?? 'Name'}}
        </div>
   
    </div>
</div>