<div class="container-videoplayer" [style.position]="isFullscreen ? 'absolute' : 'relative'">
    <div #videoPlayerContent class='container-videoplayer' (click)="onVideoClick()">
        <img [src]="getImage('video_loading.gif')" alt="loading" class="content-videoplayer-image" *ngIf="isLoading && !canPlay">
        <img [src]="poster" class="content-videoplayer-image" *ngIf="!isLoading && !canPlay">

        <video #videoPlayerElement class='content-videoplayer-video' (canplay)="onCanPlay()">
            <source [src]="source">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <div class='content-videoplayer-footer' [style.zIndex]="isFullscreen && isDisplayControls ? 999 : -1">
        <button *ngIf="!isLiveStream" class='movable content-button content-videoplayer-controls'>Play</button>

        <button *ngIf="isDisplayControls" class='movable content-button content-videoplayer-controls' (click)="onExitFullscreen.emit()">
            <div class="content-button-center">
                <img alt="icon" [src]="getImage('fullscreen_ext.png')" class="content-icon content-videoplayer-controls-icon" />
            </div>
        </button>

        <button class='movable content-button content-videoplayer-controls' (click)="isDisplayControls = !isDisplayControls">
            <div class="content-button-center">
                <img alt="icon" [src]="getImage('eye.png')" class="content-icon content-videoplayer-controls-icon" />
            </div>
        </button>
    </div>
</div>