<div class="content-header">

    <div class="content-header-left">
        <div class="content-header-item">
            <input type="image"  src="images/home.png" loading=lazy alt="icon" class="movable button content-header-image" (click)="home()" autofocus />
        </div>
    </div>
    <div class="content-header-left">
        <div class="content-header-item">
            <b style="font-size: 4vh;">JN-IPTV</b>
        </div>
    </div>

    <div class="content-header-right">
        <div class="content-header-item">
            <div class="movable movable-txt" style="width: 10vw;" (keyup)="executeWrapperTextKeyUp($event)">
                <input type="text" placeholder="Search..." (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="searchText" />
            </div>
        </div>
        <div class="content-header-item">
            <input type="image" src="images/search.png" loading=lazy alt="icon" title="Execute search" class="movable button content-header-image" (click)="search()" />
        </div>
        <div class="content-header-item">
            <select class="movable movable-select" style="width: 8vw;" placeholder="Sort" [(ngModel)]="sortCode" >
                <option [value]="99">Sort...</option>

                <option [value]="0" class="select-option">
                    Name [asc]
                </option>
                <option [value]="1" class="select-option">
                    Name [desc]
                </option>
                <option [value]="2" class="select-option">
                    Date [asc]
                </option>
                <option [value]="3" class="select-option">
                    Date [desc]
                </option>
            </select>
        </div>
        <div class="content-header-item">
            <input type="image"  src="images/sort.png" loading=lazy alt="icon" title="Execute sort" class="movable button content-header-image" (click)="sort()" />
        </div>
        <div class="content-header-item">
            <input type="image" src="images/back.png" loading=lazy alt="icon" class="movable button content-header-image" (click)="back()" #headerBackButtonId />
        </div>
    </div>

</div>
