<div class="content-header">

    <div class="content-header-left">
        <div class="content-header-item">
            <input type="image"  src="images/home.png" loading=lazy alt="icon" class="movable button content-header-image" (click)="home()" />
        </div>
    </div>

    <div class="content-header-right">
        <div class="content-header-item">
            <div class="movable movable-txt" (keyup)="executeWrapperTextKeyUp($event)">
                <input type="text" placeholder="Name" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="searchText" />
            </div>
        </div>
        <div class="content-header-item">
            <input type="image"  src="images/search.png" loading=lazy alt="icon" class="movable button content-header-image" (click)="search()" />
        </div>
        <div class="content-header-item">
            <select class="movable movable-select" placeholder="Sort" [(ngModel)]="sortCode">
                <option *ngFor="let name of sortCodesName" [value]="name" class="select-option">
                    {{name}}
                </option>
            </select>
        </div>
        <div class="content-header-item">
            <input type="image"  src="images/sort.png" loading=lazy alt="icon" class="movable button content-header-image" (click)="sort()" />
        </div>
        <div class="content-header-item">
            <input type="image" src="images/back.png" loading=lazy alt="icon" class="movable button content-header-image" (click)="back()" />
        </div>
    </div>

</div>
