<div class="content-header">

    <div class="content-header-left">
        <div class="content-header-item">
            <input type="image" [src]="getImage('home.png')" alt="icon" class="movable button content-header-image" (click)="home()" />
        </div>
    </div>

    <div class="content-header-right">
        <div class="content-header-item">
            <div [className]="'movable movable-txt'" (keyup)="executeWrapperTextKeyUp($event)">
                <input type="text" placeholder="Name" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="searchText" />
            </div>
        </div>
        <div class="content-header-item">
            <input type="image" [src]="getImage('search.png')" alt="icon" class="movable button content-header-image" (click)="search()" />
        </div>
        <div class="content-header-item">
            <input type="image" [src]="getImage('sort.png')" alt="icon" class="movable button content-header-image" (click)="sort()" />
        </div>
        <div class="content-header-item">
            <input type="image" [src]="getImage('back.png')" alt="icon" class="movable button content-header-image" (click)="back()" />
        </div>
    </div>
</div>

<div class="content-header-path">
    <p>{{getSiteMap()}}</p>
</div>