.content-icon-vod {
height: 110%;
}

.content-line-vod-info{
width: 100%;
height: 75%;
}

.content-line-vod-info-poster {
    float: left;
    overflow: hidden;
    height: 100%;
    width: 40%;
    margin-left: 2%;
    border: 3px solid #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .content-line-vod-info-poster-image {
        height: 95%; 
        width: 95%;
        }

    .content-line-vod-info-details {
        height: 100%;
        width: 51%;
        margin-left: 2%;
        float: left;
        overflow: hidden;
        }

        
    .content-line-vod-info-details-item {
        border-bottom: 3px solid #606060;
        }
        
        .content-line-vod-info-details-spacer{
            height: 5%; 
        }

    .content-line-vod-mame {
        height: 4%;
        margin-left: 1%;
    }

    