
<div class="content-main-header">
    <app-header (onSearch)="onSearchTrigger($event)" (onSort)="onSortTrigger($event)" [backRoute]="'seriestream/'+playlist._id"></app-header>
</div>


<div class="content-main ">
    <div class="content-main-left ">

        <div class="content-main-line-spacer">
        </div>

        <div class="content-main-line-navigation">
            <app-category [currentCategory]="currentCategory" [categories]="categories"
                (onMove)="onMoveCategoryTrigger($event)"></app-category>
        </div>

        <div *ngFor="let streamItem of streams" class="content-main-line">
            <button type="button" class="movable content-folder" (click)="selectStream(streamItem)">
                <div class="content-folder-left">
                    <div class="content-folder-icon ">
                        <img class="content-icon content-icon-serie" alt="icon" [src]="streamItem.stream_image"
                        onerror="this.className='content-icon';this.src='images/serie.png';" loading=lazy />
                    </div>
                    <div class="content-folder-text">
                        {{streamItem.name.trim()}}
                    </div>
                </div>
            </button>
        </div>

 
        <div class="content-main-line-navigation content-main-line-navigation-bottom">
            <app-page [maxPage]="maxPage" [currentPage]="currentPage" 
            (onMove)="onMovePageTrigger($event)"></app-page>
        </div>

    </div>

    <div class="content-main-right ">
        <div class="content-main-line-spacer">
        </div>

        <div class="content-line-serie-mame">
            {{stream == null ? '...' : stream.name}}
        </div>

        <div class="content-main-line-spacer">
        </div>
        <div class="content-main-line-spacer">
        </div>

        <div class="content-line-serie-info">
            <div class="content-line-serie-info-poster">
                <img *ngIf="stream != null && !isImageError" class="content-line-serie-info-poster-image" alt="icon" alt="icon" [src]="stream.stream_image" (error)="isImageError = true" loading=lazy /> 
                <img *ngIf="stream == null || isImageError" alt="icon" src="images/movie.png" loading=lazy /> 
            </div>

            <div class="content-line-serie-info-details">
                <div class="content-line-serie-info-details-item">
                    Release
                </div>
                <div>
                    {{stream == null ? '...' : stream.release_date}}
                </div>
                <div class="content-line-serie-info-details-spacer">
                </div>

                <div class="content-line-serie-info-details-item">
                    Epoisodes duration
                </div>
                <div>
                    {{stream == null ? '...' : stream.duration}}
                </div>
                <div class="content-line-serie-info-details-spacer">
                </div>

                <div class="content-line-serie-info-details-item">
                    Cast
                </div>
                <div>
                    {{stream == null ? '...' :stream.cast}}
                </div>
                <div class="content-line-serie-info-details-spacer">
                </div>

                <div class="content-line-serie-info-details-item">
                    Description
                </div>
                <div>
                    {{stream == null ? '...' : stream.description}}
                </div>
            </div>

        </div>
        

        <div class="content-main-line-spacer">
        </div>
        <div class="content-main-line-spacer">
        </div>
        <div class="content-main-line-spacer">
        </div>
        <div class="content-main-line-spacer">
        </div>
        

        <div class="content-main-line">
            <div class="content-main-line-left">
                <button type="button" class="movable content-button" (click)="onFullscreenTrigger(true)">
                    <div class="content-button-center">
                        <div class="content-button-icon">
                            <img alt="icon" src="images/eye.png" loading=lazy class="content-icon" />
                        </div>
                        <div class="content-button-text">
                            Watch
                        </div>  
                    </div>
                </button>
            </div>

            <div class="content-main-line-right">
                <button type="button" class="movable content-button" (click)="manageFavorites()">
                    <div class="content-button-center">
                        <div class="content-button-icon">
                            <img alt="icon" src="images/star.png" loading=lazy class="content-icon" />
                        </div>
                        <div class="content-button-text">
                            {{ getFavoriteDescription() }}
                        </div>  
                    </div>
                </button>
            </div>
        </div>

    </div>


    <div *ngIf="isFullscreen">
        <app-player [source]="source" [name]="stream.name" [isLiveStream]="false" [isFullscreen]="true"
        (onExitFullscreen)="onFullscreenTrigger(false)" (onEndedPlay)="onEndedPlay()"></app-player>
    </div>
</div>