<div style="border: 3px solid black; background-color: dimgray; border-radius: 15px; height: 100%;">


    <div style="height: 10%; background-color: blue; border-top-right-radius: 15px; border-top-left-radius: 15px">
        <label>Add playlist</label>
    </div>

    <table style="width: 100%; height: 70%;">
        <tr>
            <td style="border: 10px solid transparent;">
                <label>Name</label>
            </td>
            <td style="border: 10px solid transparent; width: 100%;">
                    <div class="movable movable-txt movable-addplaylist" (keyup)="executeWrapperTextKeyUp($event)" style="height: 70%;">
                        <input type="text" placeholder="Name" class="movable-txt-input" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.name" />
                    </div>            
            </td>
        </tr>

        <tr>
            <td style="border: 10px solid transparent;">
                <label>User</label>
            </td>
            <td style="border: 10px solid transparent; width: 100%;">
                <div class="movable movable-txt movable-addplaylist" (keyup)="executeWrapperTextKeyUp($event)" style="height: 70%;">
                    <input type="text" placeholder="User" class="movable-txt-input" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.user" />
                </div>       
            </td>
        </tr>

        <tr>
            <td style="border: 10px solid transparent;">
                <label>Pasword</label>
            </td>
            <td style="border: 10px solid transparent; width: 100%;">
                <div class="movable movable-txt movable-addplaylist" (keyup)="executeWrapperTextKeyUp($event)" style="height: 70%;">
                    <input type="password" placeholder="password" class="movable-txt-input" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.password" />
                </div>          
            </td>
        </tr>

        <tr>
            <td style="border: 10px solid transparent;">
                <label>Url</label>
            </td>
            <td style="border: 10px solid transparent; width: 100%;">
                <div class="movable movable-txt movable-addplaylist" (keyup)="executeWrapperTextKeyUp($event)" style="height: 70%;">
                    <input type="text" placeholder="Url" class="movable-txt-input" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.url" />
                </div>     
            </td>
        </tr>
    </table>

    <table style="width: 100%; height: 20%;">
        <tr>
            <td style="border: 10px solid transparent;">
                <button type="button" class="movable content-button movable-addplaylist" (click)="save()">
                                <img alt="+ icon" class="content-icon" [img-lazy-src]="getImage('save.png')" />
                                Save
                            </button>
            </td>
            <td style="border: 10px solid transparent;">
                <button type="button" class="movable content-button movable-addplaylist" (click)="onClose.emit()">
                            <img alt="+ icon" class="content-icon" [img-lazy-src]="getImage('back.png')" />
                            Cancel
                        </button>
            </td>
        </tr>
    </table>






</div>