<div class="container-addplaylist">

    <div style="height: 10%; border-bottom: solid 3px #efefef;">
        <label>Add playlist</label>
    </div>

    <table style="width: 100%; height: 70%;">
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td style="width: 100%;">
                <div [className]="'movable movable-txt ' +movableSectionAddPlaylist" (keyup)="executeWrapperTextKeyUp($event)">
                    <input type="text" placeholder="Name" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.name" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>User</label>
            </td>
            <td>
                <div [className]="'movable movable-txt ' +movableSectionAddPlaylist" (keyup)="executeWrapperTextKeyUp($event)">
                    <input type="text" placeholder="User" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.user" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="border-right: 10px solid transparent;">
                <label>Pasword</label>
            </td>
            <td>
                <div [className]="'movable movable-txt ' +movableSectionAddPlaylist" (keyup)="executeWrapperTextKeyUp($event)">
                    <input type="Password" placeholder="Password" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.password" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Url</label>
            </td>
            <td>
                <div [className]="'movable movable-txt ' +movableSectionAddPlaylist" (keyup)="executeWrapperTextKeyUp($event)">
                    <input type="text" placeholder="http://playlist.com:80" (keydown)="executeTextKeyDown($event)" (keyup)="executeTextKeyUp($event)" [(ngModel)]="playlist.url" />
                </div>
            </td>
        </tr>
    </table>


    <table style="width: 100%; height: 20%;">
        <tr style="height: 100%;">
            <td style="border: 10px solid transparent; height: 100%;">
                <button type="button" [className]="'movable content-button ' + movableSectionAddPlaylist" (click)="save()">
                    <div class="content-button-center">
                        <img alt="icon" [src]="getImage('save.png')" class="content-icon" />
                        Save
                    </div>
                </button>
            </td>
            <td style="border: 10px solid transparent; height: 100%;">
                <button type="button" [className]="'movable content-button ' + movableSectionAddPlaylist" (click)="onCancel.emit()">
                    <div class="content-button-center">
                        <img alt="icon" [src]="getImage('back.png')" class="content-icon" />
                        Cancel
                    </div>
                </button>
            </td>
        </tr>
    </table>






</div>