<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>

<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>
<div class="content-left-item">
    <button type="button" class="movable content-folder">
        <img alt="Save icon" class="content-icon" [img-lazy-src]="getImage('folder.png')" />
        Playlist F
    </button>
</div>