.content-line-tv {
    margin-left: 10%;
    height: 58%;
    max-height: 60%;
    width: 80%;
}

.content-line-tv-player {
    width: 100%;
    height: 94%;
    border: 3px solid #606060;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-line-tv-mame {
    height: 4%;
    margin-left: 1%;
}

.content-line-tv-epg {
    background-color: #606060;
    margin-left: 10%;
    height: 17%;
    max-height: 17%;
    width: 80%;
}

.content-line-tv-epg-item {
    width: 100%;
    height: 101%;
    border: 3px solid #535353;
}