<div class="content-main-header">
    <app-header (onSearch)="search($event)"></app-header>
</div>


<div class="content-main ">
    <div class="content-main-left ">

        <div class="content-main-line-top">
        </div>

        <div class="content-main-line-navigation">
            <div style="float: left; overflow: hidden; width: 10%; height: 80%;">
                <button type="button" class="movable content-button">
                    <div class="content-button-center">
                        <img alt="icon" src="images/left.png" class="content-icon" loading=lazy />
                    </div>
                </button>
            </div>

            <div style="float: left; overflow: hidden; width: 80%; height: 80%; text-align: center;  display: flex;
                justify-content: center;
                align-items: center;">
                Folder: All
            </div>

            <div style="float: right; overflow: hidden; width: 10%; height: 80%; text-align: right;">
                <button type="button" class="movable content-button">
                    <div class="content-button-center">
                        <img alt="icon" src="images/right.png" class="content-icon" loading=lazy />
                    </div>
                </button>
            </div>
        </div>


        <div *ngFor="let streamItem of streams" class="content-main-line">
            <button type="button" class="movable content-folder" (click)="selectStream(streamItem)">
                <div class="content-folder-left">
                    <img alt="icon" [src]="getImageStream(streamItem)" class="content-icon" loading=lazy />
                    {{streamItem.name}}
                </div>
            </button>
        </div>

        <app-page [currentPage]="currentPage" (onMove)="movePage($event)"></app-page>

    </div>

    <div class="content-main-right ">
        <div class="content-main-line-top">
        </div>

        <div class="content-line-tv-mame">
            Name: {{stream?.name}}
        </div>

        <div class="content-line-tv">
            <div class="content-line-tv-player">
                <app-player [source]="source" [isLiveStream]="true" [isFullscreen]="isFullscreen"
                    [poster]="getImage('tv.png')" (onExitFullscreen)="setFullscreen(false)"></app-player>
            </div>
        </div>

        <div class="content-main-line">
            <div class="content-main-line-left">
                <button type="button" class="movable content-button" (click)="setFullscreen(true)">
                    <div class="content-button-center">
                        <img class="content-icon" alt="icon" src="images/fullscreen.png" loading=lazy />
                        Fullscreen
                    </div>
                </button>
            </div>

            <div class="content-main-line-right">
                <button type="button" class="movable content-button">
                    <div class="content-button-center">
                        <img class="content-icon" alt="icon" src="images/star.png" loading=lazy />
                        Add favorites
                    </div>
                </button>
            </div>
        </div>

        <div class="content-line-tv-mame">
            EPG:
        </div>

        <div class="content-line-tv-epg">
            <table class="content-line-tv-epg-item">
                <tr>
                    <td>
                        Program name
                    </td>
                    <td>
                        Hour
                    </td>
                </tr>
                <tr>
                    <td>
                        Program name
                    </td>
                    <td>
                        Hour
                    </td>
                </tr>
                <tr>
                    <td>
                        Program name
                    </td>
                    <td>
                        Hour
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>