<div class="content-main-header">
    <app-header (onSearch)="onSearchTrigger($event)" (onSort)="onSortTrigger($event)" [backRoute]="'playlist/'+playlist._id"></app-header>
</div>


<div class="content-main ">
    <div class="content-main-left ">

        <div class="content-main-line-top">
        </div>

        <div class="content-main-line-navigation">
            <app-category [currentCategory]="currentCategory" [categories]="categories"
                (onMove)="onMoveCategoryTrigger($event)"></app-category>
        </div>

        <div *ngFor="let streamItem of streams" class="content-main-line">
            <button type="button" class="movable content-folder" (click)="selectStream(streamItem)">
                <div class="content-folder-left">
                    <img alt="icon" [src]="getImageStream(streamItem)" class="content-icon" loading=lazy />
                    {{streamItem.name}}
                </div>
            </button>
        </div>

        <div class="content-main-line-top">
        </div>

        <div class="content-main-line-navigation content-main-line-navigation-bottom">
            <app-page [maxPage]="maxPage" [currentPage]="currentPage" 
            (onMove)="onMovePageTrigger($event)"></app-page>
        </div>

    </div>

    <div class="content-main-right ">
        <div class="content-main-line-top">
        </div>

        <div class="content-line-tv-mame">
            Name: {{stream?.name}}
        </div>

        <div class="content-line-tv">
            <div class="content-line-tv-player">
                <app-player [style.visibility]="stream == null ? 'hidden' : 'visible'" [source]="source" [isLiveStream]="true" [isFullscreen]="isFullscreen"
                     (onExitFullscreen)="onFullscreenTrigger(false)"></app-player>
            </div>
        </div>

        <div class="content-main-line">
            <div class="content-main-line-left">
                <button type="button" class="movable content-button" (click)="onFullscreenTrigger(true)">
                    <div class="content-button-center">
                        <img class="content-icon" alt="icon" src="images/fullscreen.png" loading=lazy />
                        Fullscreen
                    </div>
                </button>
            </div>

            <div class="content-main-line-right">
                <button type="button" class="movable content-button" (click)="manageFavorites()">
                    <div class="content-button-center">
                        <img class="content-icon" alt="icon" src="images/star.png" loading=lazy />
                        {{ getFavoriteDescription() }}
                    </div>
                </button>
            </div>
        </div>

        <div class="content-main-line-top">
        </div>

        <div class="content-line-tv-mame">
            EPG:
        </div>

        <div class="content-line-tv-epg">
            <table class="content-line-tv-epg-item">
                <tr>
                    <td>
                        Program name
                    </td>
                    <td>
                        Hour
                    </td>
                </tr>
                <tr>
                    <td>
                        Program name
                    </td>
                    <td>
                        Hour
                    </td>
                </tr>
                <tr>
                    <td>
                        Program name
                    </td>
                    <td>
                        Hour
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>