<div class="content-line-stream-info">
    <div class="content-line-stream-info-poster">
        <img *ngIf="stream != null && !isImageError" class="content-line-stream-info-poster-image" alt="icon" alt="icon"
            [src]="stream.stream_image" (error)="isImageError = true" loading=lazy />
        <img *ngIf="stream == null || isImageError" alt="icon" src="{{streamTypeImage}}" loading=lazy />
    </div>

    <div class="content-line-stream-info-details">
        <div class="content-line-stream-info-details-item">
            Release
        </div>
        <div>
            {{streamInfo == null ? '...' : streamInfo.release_date}}
        </div>
        <div class="content-line-stream-info-details-spacer">
        </div>

        <div class="content-line-stream-info-details-item">
            Duration
        </div>
        <div>
            {{streamInfo == null ? '...' : streamInfo.duration}}
        </div>
        <div class="content-line-stream-info-details-spacer">
        </div>

        <div class="content-line-stream-info-details-item">
            Cast
        </div>
        <div>
            {{streamInfo == null ? '...' :streamInfo.cast}}
        </div>
        <div class="content-line-stream-info-details-spacer">
        </div>

        <div class="content-line-stream-info-details-item">
            Description
        </div>
        <div>
            {{streamInfo == null ? '...' : streamInfo.description}}
        </div>
    </div>

</div>