.lds-dual-ring {
   display: inline-block;
   width: 400px;
   height: 400px;
 }
 .lds-dual-ring:after {
   content: " ";
   display: block;
   width: 50%;
   height: 50%;
   border-radius: 100%;
   border: 50px solid #EB4428;
   border-color: #EB4428 transparent #EB4428 transparent;
   animation: lds-dual-ring 2.5s linear infinite;
 }
 @keyframes lds-dual-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 