<div class="content-main-header">
    <app-header (onSearch)="onSearchTrigger($event)" (onSort)="onSortTrigger($event)"
    (onBack)="onBackTrigger()"></app-header>
</div>


<div class="content-main ">

    <div class="content-main-left ">
        <div class="content-main-wrapper">

            <div class="content-main-line content-main-line-navigation">
                <app-category [currentCategory]="currentCategory" [categories]="categories"
                    (onMove)="onMoveCategoryTrigger($event)"></app-category>
            </div>

            <app-streamList [streams]="streams" [fallbackImage]="'images/tv.png'" (onStreamSelect)="selectStream($event)" (isLiveStream)="true" ></app-streamList>

            <div class="content-main-line content-main-line-navigation content-main-line-bottom-left">
                <app-page [isFullscreen]="isFullscreen" [maxPage]="maxPage" [currentPage]="currentPage" (onMove)="onMovePageTrigger($event)">
                </app-page>
            </div>

        </div>
    </div>

    <div class="content-main-right ">

        <div class="content-main-wrapper">

            <div class="content-main-line">
                {{stream == null ? '...' : stream.name}}
            </div>

            <div class="content-main-line-spacer">
            </div>

      
            <div class="content-main-line">
                <div class="content-main-line-center">

                    <div class="content-line-tv">
     
                        <div *ngIf="stream == null" class="content-line-tv-player-fake">    
                            <img  alt="icon" src="images/tv.png" loading=lazy />  
                        </div>

                        <div *ngIf="stream != null"  class="content-line-tv-player">    
                            <app-player  [source]="source" [name]="stream.name" [isLiveStream]="true"
                            [isFullscreen]="isFullscreen" (onExitFullscreen)="onFullscreenTrigger(false)"></app-player>
                        </div>

                    </div>
                </div>
            </div>

            <div class="content-main-line-spacer">
            </div>          
            <div class="content-main-line-spacer">
            </div>
            
            <div class="content-line-tv-mame">
                EPG
            </div>

            <div class="content-main-line-spacer">
            </div>

            <div class="content-main-line">
                    <div class="content-line-tv-epg">
                        <div class="content-line-tv-epg-center">
                            <table class="content-line-tv-epg-table" cellspacing="0" >
                                <tr *ngFor="let item of [].constructor(3); let i = index">                 
                                    <td class="content-line-tv-epg-item-program">
                                        {{epg[i] == null ? '...' : epg[i].title}}
                                    </td>
                                    <td class="content-line-tv-epg-item-hour">
                                        {{getTime(epg[i]?.startDate)}}
                                        - 
                                        {{getTime(epg[i]?.endDate)}}
                                    </td>
                                </tr>                               
                            </table>
                        </div>                   
                    </div>
            </div>   
            

  
            <div class="content-main-line content-main-line-bottom-right">
               
                    <div class="content-main-line-left">
                        <button type="button" class="movable content-button" (click)="onFullscreenTrigger(true)">
                            <div class="content-button-center">
                                <div class="content-button-icon">
                                    <img alt="icon" src="images/fullscreen.png" loading=lazy class="content-icon" />
                                </div>
                                <div class="content-button-text">
                                    {{getLabel('Fullscreen')}}
                                </div>
                            </div>
                        </button>
                    </div>
    
                    <div class="content-main-line-right">
                        <button type="button" class="movable content-button" (click)="manageFavorites()">
                            <div class="content-button-center">
                                <div class="content-button-icon">
                                    <img alt="icon" src="images/star.png" loading=lazy class="content-icon" />
                                </div>
                                <div class="content-button-text">
                                    {{ getFavoriteDescription() }}
                                </div>
                            </div>
                        </button>
                    </div>

            </div>

            


        </div>
    </div>
</div>