<div class="content-right-line">
    <div class="content-right-center">
        <button type="button" class="movable content-button" (click)="onAddPlaylistClick.emit()">
            <div  class="content-button-center">
                <img alt="icon" [src]="getImage('plus.png')" class="content-icon" />
                Add playlist
            </div> 
        </button>
    </div>
</div>

<div class="content-right-line">
    <div class="content-right-center">
        <button type="button" class="movable content-button">
            <div  class="content-button-center">
                <img alt="icon" [src]="getImage('settings.png')" class="content-icon" />
                Settings
            </div> 
        </button>
    </div>
</div>



<div class="content-right-line">
    <div class="content-right-center">
        <button type="button" class="movable content-button" (click)="onDelete()">
            <div  class="content-button-center">
                <img alt="icon" [src]="getImage('settings.png')" class="content-icon" />
                Delete
            </div> 
        </button>
    </div>
</div>
