.content-right-item {
    margin: 0px 10px 10px 10px;
    height: 10%;
    width: 100%;
    text-align: center;
    display: block;
}

.conten-right-center {
    width: 40%;
    height: 100%;
    display: inline-block;
}