<div class="content-main-header">
    <app-header (isBack)="isBack = true" (onBack)="onBackTrigger()"></app-header>
</div>

<div class="content-main ">
    <div class="content-main-left ">

        <div class="content-main-wrapper">

        <div class="content-main-line">

            <button type="button" class="movable content-folder" (click)="moveTo('/livestream')">
                <div class="content-folder-left">
                    <div class="content-folder-icon ">
                        <img class="content-icon content-icon-serie" alt="icon" src="images/tv.png" loading=lazy />
                    </div>
                    <div class="content-folder-text">
                        Live streams
                    </div>
                </div>
            </button>

        </div>

        <div class="content-main-line">
            <button type="button" class="movable content-folder" (click)="moveTo('/vodstream')">
                <div class="content-folder-left">
                    <div class="content-folder-icon ">
                        <img class="content-icon content-icon-serie" alt="icon" src="images/movie.png" loading=lazy />
                    </div>
                    <div class="content-folder-text">
                        Videos on demand
                    </div>
                </div>
            </button>
        </div>

        <div class="content-main-line">
            <button type="button" class="movable content-folder" (click)="moveTo('/seriestream')">
                <div class="content-folder-left">
                    <div class="content-folder-icon ">
                        <img class="content-icon content-icon-serie" alt="icon" src="images/serie.png" loading=lazy />
                    </div>
                    <div class="content-folder-text">
                        Series
                    </div>
                </div>
            </button>
        </div>
    </div>
    </div>


    <div class="content-main-right ">
        <div class="content-main-wrapper">

        <div class="content-line-playlist-info content-line-playlist-info-detail">

            <div class="content-line-playlist-info-detail">
                {{playlist.name}}
            </div>

            <div class="content-line-playlist-info-item">
                User
            </div>
            <div class="content-line-playlist-info-detail">
                {{playlist.user}}
            </div>

            <div class="content-line-playlist-info-item">
                Url
            </div>
            <div class="content-line-playlist-info-detail">
                {{playlist.url}}
            </div>
        </div>

        <div class="content-main-line-spacer">
        </div>
        <div class="content-main-line-spacer">
        </div>
        <div class="content-main-line-spacer">
        </div>

        <div class="content-main-line">
            <div class="content-main-line-left">
                <button type="button" class="movable content-button" (click)="displayEditPlayslist(true)">
                    <div class="content-button-center">
                        <div class="content-button-icon">
                            <img alt="icon" src="images/pen.png" loading=lazy class="content-icon" />
                        </div>
                        <div class="content-button-text">
                            Edit
                        </div>
                    </div>               
                </button>
            </div>

            <div class="content-main-line-right">
                <button type="button" class="movable content-button" (click)="deletePlaylist()">
                    <div class="content-button-center">
                        <div class="content-button-icon">
                            <img alt="icon" src="images/x.png" loading=lazy class="content-icon" />
                        </div>
                        <div class="content-button-text">
                            Delete
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
</div>



<div *ngIf="isDisplayEditPlaylist">
    <div class="content-main-popup-shadow">
    </div>
    <div class="content-home-addplaylist-position">
        <app-managePlaylist [playlist]="playlist" (onCancel)="displayEditPlayslist(false)"
            (onSave)="editPlaylist($event)"></app-managePlaylist>
    </div>
</div>