        
    <div class="content-page-left">
        <button type="button" class="movable content-button" (click)="move(-1)">
            <div class="content-button-center">
                <img alt="icon" src="images/left.png" class="content-icon" loading=lazy />
            </div>
        </button>
    </div>

    <div class="content-page-center">
        {{getLabel('Page')}} {{currentPage}} - {{maxPage}}
    </div>

    <div class="content-page-right">
        <button type="button" class="movable content-button" (click)="move(1)">
            <div class="content-button-center">
                <img alt="icon" src="images/right.png" class="content-icon" loading=lazy />
            </div>
        </button>
    </div>     
